<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html class="play-init">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/playui.css">
        
    </head>
    <body>
        <header class="play-header">
            <a href='#' class='play-left'>Back</a>
            <h1>Title</h1>
            <a href='#' class='play-right'>Forward</a>
        </header>
        
        <div class="play-content">
            <input type="text" class="play-input">    
            <input type="text" class="play-input">
        </div>
        
        <footer class="play-tabbar">
            <div class="play-tabs play-image-only">
                <a href="#">
                    <img src='http://192.168.0.139/res/img/255.png' alt=''>
                </a>
                <a href="#">
                    <img src='http://192.168.0.139/res/img/255.png' alt=''>
                </a>
                <a href="#">
                    <img src='http://192.168.0.139/res/img/255.png' alt=''>
                </a>
                <a href="#">
                    <img src='http://192.168.0.139/res/img/255.png' alt=''>
                </a>
            </div>
        </footer>
        <script src="../../js/playui.js"></script>
    </body>
</html>
