<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html class="play-init">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/playui.css">
    </head>
    <body>
        <div class="play-sidemenu">
            <div class="play-sidemenu-left">
                <h2>Menu title</h2>
                <div class="play-container">
                    <ul>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li> 
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                        </li>
                        <li class="play-divider">
                            Some more!
                        </li>
                    </ul>
                </div>
            </div>
            <div class="play-sidemenu-right">
                <h2>Big menu</h2>
                <div class="play-container">
                    <ul class="play-list play-avatar">
                        <li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="http://placehold.it/80x80" alt="">
                                <h2>Glad0s</h2>
                                <p>I am evil.</p>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="play-button play-fullscreen">
                        Save
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
