.play-card {   
    width: 98%;
    margin:20px 1%;
    border:1px solid $list-border-color;
    box-shadow: 1px 1px 1px $list-border-color;
    
    .play-container {
        padding: 20px 1%;
    }
}