/*
    sidemenu.scss

    The menu is on tablet and computer splitted in a 1/4 to 3/4 ratio.
    left is a list with all the items you can click on to make the other side
    react to it.

    On mobile this is a 3/4 4/4 ratio. The side menu is hidden in the side and
    when the user clicks a button the side menu appears from the left side
*/

.play-sidemenu {

    height:100%;
    background:$sidemenu-background-color;

    .play-sidemenu-left {
        float:left;
        width: 25%;
        height: 100%;
        border-right:1px solid $sidemenu-border-color;
        box-sizing: border-box;
        background-color:$sidemenu-background-color;

        .play-container {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 95%;
        }

        ul {

            li.play-divider {
                background-color: $sidemenu-background-color;
                width: 94%;
                padding:10px 3%;
                font-weight: 400;
            }

            li {
                width: 100%;
                background-color:white;
                border-bottom: 1px solid $sidemenu-border-color;

                a {
                    width: 94%;
                    padding:10px 3%;
                    display:block;

                    &:hover {
                        background-color:#F8F0F0;
                    }
                }
            }

        }
    }

    .play-sidemenu-right {
        float:left;
        height: 100%;
        width:75%;

        .play-container {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 95%;
        }

    }

    .play-sidemenu-left > h2, .play-sidemenu-right > h2 {
        text-align: center;
        border-bottom: 1px solid $sidemenu-border-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
    }
    
    .play-sidemenu-open{
        display: none;
    }

    .play-sidemenu-close {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        background-color:grey;
        opacity: 0.4;
        z-index: 99;
        display: none;
    }
}

@media only screen and (max-width: 700px) {
       
    .play-sidemenu {
        
        .play-sidemenu-left {
            position: absolute;
            height: 100%;
            z-index: 100;
            display: block;
            width: 65%;
            left:-100%;
                    
            &:target {
                -webkit-animation: slide 0.2s forwards;
                animation: slide 0.2s forwards;
            }
            
            &:target + .play-sidemenu-close {
                display: block;
            }
            
        }             
        
        .play-sidemenu-right {
            width: 100%;
        }
        
        .play-sidemenu-open {
            display: block;
            position: absolute;
            left:0;
            margin: 10px;
        }
    }  
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}