.play-tabbar {
    position: fixed;
    left:0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: $sidemenu-background-color;
    border-top:1px solid $list-border-color;

    &+.play-content {
        display:none;
    }

    .play-tabs {
        text-align: center;
        height: 100%;
        margin-top:25px;

        a {
            padding-left:1%;
            padding-right: 1%;
            font-size: 16px;          
        }


    }

    .play-tabs.play-image-only {
        
        margin-top:5px;
        
        a {
            width: 40px;
            height: 40px;
            
            
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}