.play-col-10 {
    width: 10%!important;
    float:left;
}

.play-col-25 {
    width: 25%!important;
    float:left;
}

.play-col-33 {
    width: 33.333333333333% !important;
    float:left;
}

.play-col-50 {
    width: 50%!important;
    float:left;
}

.play-col-75 {
    width: 75%!important;
    float:left;
}




