.play-header {  
    
    $header-bar-height: 44px;
    
    width:100%;
    text-align:center;
    border-bottom:1px solid $list-border-color;
    height:$header-bar-height;
    
    h1 {
        font-size: 17px;
        min-width: 30px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $header-bar-height;
        font-weight: 500;
        display: inline-block;
    }
    
    .play-left {
        float:left;
        line-height: $header-bar-height;
        padding: 0 15px;
    }
    
    .play-right {
        float:right;
        line-height: $header-bar-height;
        padding: 0 15px;
    }
}